.main {
  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .2rem 0;
    padding: .5rem;
    
    img {
      border-radius: 50%;
    }
  }
  
  .reposInfo {
    font-size: .87rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    
    ul {
      display: grid;
      grid-template-columns: repeat(3, auto);
      text-align: center;
      gap: 1em;
      
      .numbers {
        color: rgba(196, 80, 227, .9);
        font-weight: 700;
      }
    }
  }
}