.repos {
  padding: 0 2rem;
  margin: 3rem 0;
  
  h3 {
    font-size: 1.36rem;
  }
  
  li {
    padding: 1em 1em 1em 0;
    
    a {
      text-decoration: underline;
    }
    
    p {
      font-size: .875rem;
    }
  }
  
  li:not(:last-child) {
    border-bottom: 1px solid var(--gray-line);
  }
}